/*
 *= require font-awesome
 */
.navbar {
  background-color: rgb(217, 227, 224);
  margin-bottom: 15px;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logout-button {
  margin-right: 5px;
}

.alert {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}